@import url('https://cdn.jsdelivr.net/npm/pretendard@latest/dist/web/static/pretendard.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  html {
    font-family: theme('fontFamily.sans');
  }

  body {
    @apply font-sans text-Color-Label-Normal;
  }
}
